<div class="review-container">
  <h2>Reviews:</h2>
  <div class="review">
      <i class="fas fa-user"></i>
      <h4>Reviewer Name: </h4><span class="review-name"> {{reviewerName}}</span>
      <h4>Quality Rating: <span class="review-rating">{{rating}}</span></h4>
      <hr></hr>
      <h4>Review:</h4>
      <span class="review-text">{{reviewText}}</span>
    </div>
</div>
