<main class="content">

   <div class="sign-in-container">
    <div class="qualified-content">
      <h1>Find a Qualified Tutor in Seconds!</h1>
    </div>
    <div class="sign-in-title">
      <h1>Get Started</h1>
      <h3>Get help in a few easy steps</h3>
      <button id="tutor-finder-button" class="tutor-finder-button">Find a tutor</button>
      <button id="sign-in-button" class="sign-in-button">Sign in</button>
    </div>
  </div>

  <div class="main-content-container">
    <div class="main-content">
      <h1>Get online tutoring now</h1>
      <p>Are you looking for a high quality tutor?</p>
      <p>We have thousands of tutors with years of experience in their respective fields. Whether you're failing in math, hoping to get a 4.0, or simply wanting to improve your writing skills we are here for you.</p>
      <p>Our online tutors know how to to teach and have been doing so for years. Across our tutors there is a cumulative 100,000 hours of teaching experience. Most have degrees from very reputable universities and are waiting to share their knowledge.</p>
      <p>In only 24 hours, you can find a perfect tutor who will guide you or your child to success. We guarantee improvement in only two weeks from our hand selected tutors.</p>
    </div>
    <div class="main-content">
      <img src="images/student.jpg" alt="Picture of student" id="student-image">
  </div>
   </div>

  <div class="banner1">
    <div class="banner-title">
      <h1>Online tutors available 24/7</h2>
    </div>
  </div>

  <div class="footer-container">
    <div class="footer">
      <h1>Footer</h1>
      <a href="about.html">About Us</a>
    </div>
  </div>

</main>
