<main class="tutorFilterContent">

  <aside class="filter-container">

    <h2>Filters</h2>

    <div class="filter-input-container">
      <label for="filter-text" class="filter-input-label">Name</label>
      <div class="filter-input-element">
        <input type="text" name="filter-text" id="filter-text" class="filter-input">
      </div>
    </div>

    <div class="filter-input-container">
      <label for="filter-min-price" class="filter-input-label">Hourly Rate</label>
      <div class="filter-input-element">
        <input type="text" name="filter-min-price" id="filter-min-price" class="filter-input" placeholder="min">
      </div>
      <div class="filter-input-element">
        <input type="text" name="filter-max-price" id="filter-max-price" class="filter-input" placeholder="max">
      </div>
    </div>

    <div class="filter-input-container">
      <label for="filter-city" class="filter-input-label">City</label>
      <div class="filter-input-element">
        <select id="filter-city" class="filter-input" name="filter-city">
              <option selected value="">Any</option>
              <option>Corvallis</option>
              <option>West Linn</option>
              <option>Mason's Hometown</option>
              <option>Chengxi's Hometown</option>
              <option>Woodinville</option>
        </select>
      </div>
    </div>

    <div class="filter-input-container">
      <label for="filter-subject" class="filter-input-label">Subject</label>
      <div class="filter-input-element">
        <select id="filter-subject" class="filter-input" name="filter-subject">
              <option selected value="">Any</option>
              <option>Math</option>
              <option>Computer Science</option>
              <option>History</option>
              <option>Economics</option>
        </select>
      </div>
    </div>

    <div class="filter-input-container">
      <fieldset id="filter-condition" class="filter-fieldset">
        <p>Year</p>
          <div>
            <input type="checkbox" class="filter-year" name="filter-year" id="filter-year-freshman" value="freshman">
            <label for="filter-condition-freshman">Freshman</label>
          </div>
          <div>
            <input type="checkbox" class="filter-year" name="filter-year" id="filter-year-sophomore" value="sophomore">
            <label for="filter-condition-sophomore">Sophomore</label>
          </div>
          <div>
            <input type="checkbox" class="filter-year" name="filter-year" id="filter-year-junior" value="junior">
            <label for="filter-condition-junior">Junior</label>
          </div>
          <div>
            <input type="checkbox" class="filter-year" name="filter-year" id="filter-year-senior" value="senior">
            <label for="filter-condition-senior">Senior</label>
          </div>
          <div>
            <input type="checkbox" class="filter-year" name="filter-year" id="filter-year-graduate" value="graduate">
            <label for="filter-condition-graduate">Graduate</label>
          </div>
      </fieldset>
    </div>



    <button id="filter-update-button" class="action-button">Update</button>

  </aside>

  <section id="tutors">
    {{#each tutorData}}
      {{> tutorPreview}}
    {{/each}}
  </section>

  <button type="button" id="add-tutor-button">Click here to add your profile</button>

  <div id="modal-backdrop" class="hidden"></div>
  <div id="add-tutor-modal" class="hidden">
    <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create a new tutor profile</h3>
      <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="profile-input">
        <label for="url-input">Photo URL</label>
        <input type="text" id="url-input">
      </div>

      <div class="profile-input">
        <label for="name-input">Name</label>
        <input type="text" id="name-input"></input>
      </div>

      <div class="profile-input">
        <label for="hourly-rate-input">Hourly Rate</label>
        <input type="text" id="hourly-rate-input"></input>
      </div>

      <div class="profile-input">
        <label for="city-input">City</label>
        <input type="text" id="city-input"></input>
      </div>

      <div class="profile-input">
        <label for="subject-input">Subject</label>
        <input type="text" id="subject-input"></input>
      </div>

      <div class="profile-input">
        <label for="year-input">Year in School</label>
        <input type="text" id="year-input"></input>
      </div>

      <div class="profile-input">
        <label for="zoom-url-input">Zoom URL</label>
        <input type="text" id="zoom-url-input"></input>
      </div>

      <div class="profile-input">
        <label for="experience-input">Experience</label>
        <input type="text" id="experience-input"></input>
      </div>

      <div class="profile-input">
        <label for="email-input">Email</label>
        <input type="text" id="email-input"></input>
      </div>
      

    </div>

    <div class="modal-footer">
      <button type="button" id="modal-clear" class="modal-hide-button action-button">Clear</button>
      <button type="button" id="modal-accept" class="action-button">Create Profile</button>
    </div>

  </div>
</div>

</main>
