<nav>
    <ul class="m-center">
      <li id="index">Home</li>
      <li>Tutors</li>
      <li>Contact</li>
      <li>About</li>
      <li id="add" onclick="window.location.href='form'">add</li>
    </ul>
  </nav>