a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: "Courier New", Courier, monospace;
};
  
a:hover {
    text-decoration: underline;
}
  
p {
    font-family: "Courier New", Courier, monospace;
};

header {
    background-color: #dc4405;
    display: flex;
    align-items: center;
    position: relative;
}

.site-title {
    font-family: "Courier New", Courier, monospace;
    font-size: 80px;
    font-weight: 100;
    margin: 0 0 0 20px;
    padding-top: 30px;
}

.site-title a:hover{
    text-decoration: none;
}
  
.site-title a:hover{
    text-decoration: none;
}
  
.navbar {
    background-color: #dc4405;
    overflow: hidden;
}

.navbar a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.navbar a:hover{
    text-decoration: underline;
    color: #f7f7f7;
    background-color: #000000;
}

.navbar a.active {
    text-decoration: none;
    color: #000000;
    background-color: #f7f7f7;
}

.tutor-img-container img {
    max-height: 240px;
    max-width: 300px;
}

.tutor-info-container {
    width: 100%;
    margin-top: 20px;
}

.tutor-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tutor-info-container{
  position: relative;
  left: 2%;
  font-size: 25px;
}

.tutor {
    display: inline-block;
    /*vertical-align: top;*/
    position: relative;
    width: 97%;
    margin: 10px;
    padding: 10px;

    border: 2px solid #dadada;
    border-radius: 3px;
    box-shadow: 0 5px 5px 0 rbga(0,0,0, 0.5)
}

.tutor-title{
  color: blue;
}

hr.line {
  width: 95%;
  position: relative;
  right: 2%;
}

#tutor-modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#tutor-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.hidden {
    display: none;
}

.hidden {
    display: none;
}


.tutorFilterContent{
  /*display: flex;*/
}

.filter-container{
  display: inline-block;
  min-width: 200px;
  width: 96%;
  margin: 10px 10px auto 10px;
  padding: 20px;
  border-radius: 3px;
  background-color: #778899;
}

.filter-container h2{
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.filter-input-container{
  width: 30%;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.filter-input-element{
  margin: 0 5px;
  flex: 1 1 100%;
}

.filter-input{
  font-size: 20px;
  width: 100%;
  margin-left: 10px;
  padding: 3px;
  border: 1px solid #dadada;
  border-radius: 3px;
}

#filter-update-button{
  width: 30%;
  height: 50px;
}
#filter-condition{
  width: 50%;
  border: 2px solid black;
}

.errorPage {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#add-tutor-button {
  position: absolute;
  left: 58%;
  bottom: 40%;
  height: 300px;
  width: 600px;
  background-color: grey;
  border-radius: 2px;
  font-size: 25px;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-tutor-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: scroll;
}

.modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modal-header {
    position: relative;
    padding: 10px 20px;
}

.modal-header h3 {
    margin: 0;
    font-size: 28px;
}

#modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

body { 
    background: url("images/cream_dust.png") repeat 0 0;
}

.qualified-content{
    padding: 20px;
    text-align: left;
    color: white;
    width: 600px;
    position: relative;
    bottom: 20px;
    left: 47.8%;
}

.sign-in-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Apple.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.sign-in-title{

  text-align: center;
  position: relative;
  left: 60%;
  background: white;
  transform: translate(-50%, -50%);
  top: 40px;
  padding: 10px;
  width: 400px;
}

.sign-in-button{
    color: white;
    background-color: #dc4405;
    font-size: 20px;
    height: 50px;
    width: 180px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5%;
}

.tutor-finder-button{
    color: white;
    background-color: #dc4405;
    font-size: 20px;
    height: 50px;
    width: 180px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5%;
}

.main-content-container{
}

.main-content{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 38%;
    margin-right: 200px;
    margin-bottom: 200px;
    padding: 10px;
    top: 100px;
    left: 20px;
    background-color: #D3D3D3;
    font-size: 20px;

}


#student-image{
    width: 100%;
    height: 100%;
}

.banner1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("images/tutor1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-title{
  text-align: center;
  position: relative;
  padding: 100px;
  left: 50%;
  top: 150px;
  transform: translate(-50%, -50%);
  color: white;
}

.footer{
    padding: 20px;
    text-align: center;
    background: #DCE1E3;
}

.about{
    text-align: left;
    margin: 40px;
    padding: 20px;
    background: #DCE1E3;
}
.team{
    text-align: center;
}

#teamates{
    margin-left: 14%;
}

.member {
  display: inline-block;
  vertical-align: top;
  height: 360px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 3px;
  box-shadow: 0 5px 5px 0 rbga(0,0,0, 0.3)
}

.member-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  height: 100%;
  width: 100%;
}

.member-picture img {
  max-height: 240px;
  max-width: 300px;
}

.member-info {
  width: 100%;
  margin-top: 20px;
}

.profile {
  display: inline-block;
  background-color: wheat;
  border: 3px solid black;
  margin: 5px;
  padding: 20px;
  width: 97%;
  min-width: 100px;
  min-height: 500px;
  min-height: 500px;    
}

.profile-head-content {
  text-align: left;
  height: 100%;
  width: 40%;
  max-width: 500px
  margin: 0px;
}

#profile-image{
  max-height: 40%;
  max-width: 40%;
}

.profile-head-content-text{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.profile-side-content{
  display: inline-block;
  position: relative;
  position: absolute;
  left: 50%;
  bottom: 33%;
  font-size: 20px;
}

.review-container{
  background-color: #778899;
  border: 1px solid black;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  padding: 10px;
  margin-top: 20px;
}

.review{
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  margin: 20px;
  padding: 10px;
  font-size: 20px;
}
